{%extends 'base.html'%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Comment</title>
  {{form.media}}
  {% load bootstrap3 %}
  {% load staticfiles %}
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>

<body>
  {% block content %}
  {{ block.super}}
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-1"></div>
      <div class="col-md-8 col-sm-8 col-xs-10">
        <div class="card">
          <img class="img-responsive" src="{{image.image.url}}"><br>

        </div>

        {% for comment in comment %}
        <p class="ment">{{comment.comment}}</p>
        <hr>
        {% endfor %}

        <div class="navbar-fixed-bottom">
          <div class="col-md-3 col-sm-2"></div>
          <div class="col-md-6 col-sm-8">
            <form action="/comment/{{user.id}}" method="post" enctype="multipart/form-data">
              {%csrf_token%}

              {% bootstrap_form form%}
              <input type="submit" class="btn btn-primary btn-sm" value="Post">
            </form>
          </div>
          <div class="col-md-3 col-sm-2"></div>
        </div>
      </div>

      {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %} {% endblock %}

      <div class="col-md-2 col-sm-2 col-xs-1"></div>
    </div>

  </div>
  <br><br><br>
</body>
{% endblock %}

</html>