{%extends 'base.html'%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Comment</title>
  {{form.media}}
  {% load bootstrap3 %}
  {% load staticfiles %}
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>

<body>
  {% block content %}
  {{ block.super}}
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-1"></div>
      <div class="col-md-8 col-sm-8 col-xs-10">
        <div class="card">
          <img class="img-responsive" src="{{image.image.url}}" style="display: block; margin-right: auto; margin-left: auto;">
          <br>
        </div>
        <h3 style="text-align: center;"><u>COMMENTS</u></h3>
        <div style="text-align: center;">
          {% if profile %}
          {% for img in profile %}
          <a href="{% url 'profile' user.id %}" style="color: black; ">
            <h4 style="display: inline-block; text-align: center"><img src="{{img.profile_pic.url}}" class="img-circle" alt="Image"
                style="height: 25px; width: 25px;">
            </h4>
          </a>
          {% empty %}
          {% endfor %}
          {% endif %}
          <a href="{% url 'profile' user.id %}" style="color: black; ">
            {{img.user}}
          </a>
          {% for comment in comments %}
          <h3>{{comment.comment}}</h3>
          {% endfor %}
          <br><br>
        </div>
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
          <form action="/comment/{{user.id}}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary btn-sm" value="Post">
          </form>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}

    <div class="col-md-2 col-sm-2 col-xs-1"></div>
  </div>

  </div>
  <br><br><br>
</body>
{% endblock %}

</html>