{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<div class="container">
  {% for img in image %}
  <div class="row">
    <div style="display: block; margin-right: auto; margin-left: auto; text-align: center;">
      <div style="display: block; margin-right: auto; margin-left: auto;">
        
        <!-- <a href="{% url 'profile' user.id %}" style="color: black; ">
          <h4 style="display: inline-block; "><img src="{{profile1.profile_pic.url}}" class="img-circle" alt="Image"
              style="height: 25px; width: 25px;">
          </h4>
        </a> -->
        <a href="{% url 'profile' img.id %}" style="color: black; ">
          {{img.user}}
        </a>

        <div>
          <img class="img-repronsive" src="{{img.image.url}}" alt="image" style="height: 450px; width:550px;">
        </div>
        <br>
        <a href="{% url 'profile' user.id %}" style="color: black; ">
          <strong>{{img.user}}</strong>
        </a>
        <p style="display: inline-block;">{{img.caption}}</p>
      </div>
      <button class="btn btn-default">
        <a href="{% url 'comment' img.id %}" style="color: black; text-align: right;  ">comments</a>
      </button>
    </div>
    <hr>
  </div>
  {% empty %}
  {% endfor %}
</div>
{% endblock %}