{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <body>
    <div style="margin-top:30px;" class="container">
      <div clas="row">
        <div class="col-md-3 "></div>
        <div class="col-md-3 ">
          {% for img in profile %}
          <img src="{{img.profile_pic.url}}" class="img-circle" alt="Image"
            style="height: 250px; width:250px;margin-right: 50px">
          {% empty %}
          {% endfor %}
        </div>
        <div class="col-md-3 ">
          {% for img in image %}
          <h3 style="font-family: 'Righteous', cursive;">{{img.user}}</h3>
          {% empty %}
          {% endfor %}
          {% for profile in profile %}
          <h2 style="font-family: 'Iceland', cursive;">{{profile.bio }}</h2>
          {% empty %}
          {% endfor %}
          <br>
          <p>followers <strong>37</strong> following <strong>42</strong></p>
          <p class="btn btn-default"> <a style="color: black;" href="{% url 'update_profile' user.id  %}">Edit
              profile</a></p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <hr>
    </div>
    <div class="container">
      <hr>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% for image in image %}
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
          <img style="margin:13px;height:200px;width:200px;" src="{{image.image.url}}" class="img-responsive"
            alt="Image">
        </div>
        {% endfor %}
        <a href="{% url 'post' %}">
          <button class="btn btn-default">ADD IMAGE</button>
        </a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </body>
  {% endblock %}

</body>

</html>