{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}

<div class="container" s>
  <div class="row">
    {% if profile %}
    <h2>Found {{ profile|length }} of searched term {{ message }}.</h2>
    {% else %}
    <h2>Found 0 articles for the searched term {{ message }}.</h2>
    {% endif %}
  </div>
  <div class="row">
    {% if profile %}
    {% for pro in profile %}
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="{{pro.profile_pic.url}}" class="img-circle" alt="image" style="height:250px; width:250px;">
    </div>
    <div lass="col-md-6">
      <h2 style="text-align: center;font-family: 'Righteous', cursive;font-size: 40px">{{pro.name}}</h2>
      <br>
      {% autoescape on %}
      <p style="text-align: center;">{{pro.bio| safe}}</p>
      {% endautoescape %}
    </div>
    <div class="col-md-2"></div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}